@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  height: 100%;
  width: 100%;
}

.background img {
  position:fixed;
  z-index: -1;
  top:0;
  left:0; 
  min-width:100%;
  min-height:100%;
  width: 100%;
}

.wrapper {
  margin: 40px 90px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.buttons {
  background-color: rgba(200, 223, 75, 0.2);
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.infoblock {
  background-color: rgba(202, 152, 58, 0.2);
  width: 100%;
  flex-grow: 5;
  position: relative;
}