.backgroundImage {
    position:fixed;
    z-index: -1;
    top:0;
    left:0; 
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-color: teal;
    /* animation: fade 5s linear;
    animation-delay: 2.5s; */
  }
  /* @keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
  } */
